<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.foodrun.domain.user.dao.UserMapper">

  <insert id="insertUser" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.foodrun.domain.user.User">
    INSERT INTO user(login_id,
                     password,
                     name,
                     role,
                     status,
                     phone_number,
                     email,
                     created_at,
                     created_by)
    VALUES (#{loginId},
            #{password},
            #{name},
            #{role},
            #{status},
            #{phoneNumber},
            #{email},
            #{createdAt},
            #{createdBy})
  </insert>

  <insert id="insertUserAddress" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.foodrun.domain.user.UserAddress">
    INSERT INTO user_address(id,
                             login_id,
                             street_address,
                             detail_address,
                             latitude,
                             longitude,
                             created_at,
                             modified_at,
                             created_by,
                             modified_by)
    VALUES (UNHEX(REPLACE(UUID(), '-', '')),
            #{loginId},
            #{streetAddress},
            #{detailAddress},
            #{latitude},
            #{longitude},
            #{createdAt},
            #{modifiedAt},
            #{createdBy},
            #{modifiedBy})
  </insert>

  <select id="selectUserAddressByLoginId" resultType="com.flab.foodrun.domain.user.UserAddress">
    SELECT hex(SUBSTR(id, 1, 16)) AS id,
           login_id,
           street_address,
           detail_address,
           latitude,
           longitude
    FROM user_address
    WHERE login_id = #{loginId}
  </select>

  <select id="countByLoginId" resultType="int">
    SELECT COUNT(*)
    FROM user
    WHERE login_id = #{loginId};
  </select>

  <select id="selectUserById" resultType="com.flab.foodrun.domain.user.User">
    SELECT id,
           login_id,
           password,
           name,
           role,
           status,
           phone_number,
           email
    FROM user
    WHERE id = #{id};
  </select>

  <select id="selectUserByLoginId" resultType="com.flab.foodrun.domain.user.User">
    SELECT *
    FROM user
    WHERE login_id = #{loginId}
  </select>

  <update id="updateUser" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.foodrun.domain.user.User">
    UPDATE user
    SET name         = IFNULL(#{name}, name),
        phone_number = IFNULL(#{phoneNumber}, phone_number),
        email        = IFNULL(#{email}, email),
        modified_at  = #{modifiedAt}
    WHERE id = #{id}
  </update>
</mapper>