<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.foodrun.domain.user.dao.UserMapper">
  <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="User">
    INSERT INTO user(login_id,
                     password,
                     name,
                     role,
                     status,
                     phone_number,
                     email,
                     created_at,
                     created_by)
    VALUES (#{loginId},
            #{password},
            #{name},
            #{role},
            #{status},
            #{phoneNumber},
            #{email},
            NOW(),
            #{createdBy})
  </insert>

  <select id="countByLoginId" resultType="int">
    SELECT COUNT(*)
    FROM user
    WHERE login_id = #{loginId};
  </select>

  <resultMap id="userMap" type="com.flab.foodrun.domain.user.User">
    <result column="login_id" property="loginId" jdbcType="VARCHAR" javaType="String"/>
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" javaType="String"/>
  </resultMap>

  <select id="selectUserByLoginId" resultType="com.flab.foodrun.domain.user.User"
    resultMap="userMap">
    SELECT id,
           login_id,
           password,
           name,
           role,
           status,
           phone_number,
           email
    FROM user
    WHERE id = #{id};
  </select>
</mapper>