<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.foodrun.domain.user.dao.UserAddressMapper">

  <insert id="insertUserAddress" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.foodrun.domain.user.UserAddress">
    INSERT INTO user_address(id,
                             login_id,
                             street_address,
                             detail_address,
                             latitude,
                             longitude,
                             created_at,
                             modified_at,
                             created_by,
                             modified_by)
    VALUES (UNHEX(REPLACE(UUID(), '-', '')),
            #{loginId},
            #{streetAddress},
            #{detailAddress},
            #{latitude},
            #{longitude},
            #{createdAt},
            #{modifiedAt},
            #{createdBy},
            #{modifiedBy})
  </insert>

  <select id="selectUserAddressByLoginId" resultType="com.flab.foodrun.domain.user.UserAddress">
    SELECT hex(SUBSTR(id, 1, 16)) AS id,
           login_id,
           street_address,
           detail_address,
           latitude,
           longitude
    FROM user_address
    WHERE login_id = #{loginId}
  </select>

</mapper>